@(todo: Seq[String])

@main("ToDo Liste") {
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="C:\Users\lucaB\Documents\GitHub\spezProgTest\public\stylesheets">
    </head>

    <body>
            <!-- Bootstrap navbar with image and text -->
        <nav class="navbar navbar-light bg-light" id="bottomShadow">
            <a class="navbar-brand" href="#">
                <img src="https://thumbs.dreamstime.com/b/business-to-do-list-flat-icon-modern-style-task-list-business-to-do-list-flat-icon-modern-style-any-purposes-perfect-web-138650221.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                ToDO-Liste
            </a>
        </nav>
            <!-- end navbar -->

            <!-- Content -->
        <div class="backgroundContent" style="background-image: url('https://i.pinimg.com/originals/90/cf/f2/90cff2804bf14b19d7702dc0d9da63a9.jpg');">
                <!-- Card -> ToDo-List -->
            <div class="cardWrapper">
                <div class="card">
                    <div class="card-header" id="customColor">
                        ToDo-Liste
                    </div>
                    <div class="card-body">
                            <!-- <h5 class="card-title">ToDo-Liste</h5> -->
                        <p class="card-text">
                            <ul>
                                @for(todo <- todo){
                                <li>@todo</li>
                                }
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
                <!-- end Card -->
    </body>

}